# Copy this file to env.yml and change values as necessary.
#
# Add your behavior for SINGLE_CLICK, DOUBLE_CLICK, and LONG_CLICK.
# 
# Available Commands:
#   AutoConditioningStart - starts the hvac
#   1000 - Milliseconds to pause for
#   FlashLights - flashes lights
#   HonkHorn - honks horn
#   OpenChargingPort - opens the charging port
#   OpenTrunk - opens trunk
#   LockDoors - locks doors
#   UnlockDoors - unlocks doors
#    
# Commands separated by commas are executed sequentially.
# Commands joined by ampersands are executed in parallel.
# Numerical value is time to pause in milliseconds. 
#
default_env: &default_env
  region: us-west-2
  iotevent:
    - iot:
        sql: "SELECT * FROM 'iotbutton/YOUR_DSN_HERE'"
  variables:
    USERNAME: 'YourTeslaLoginEmail@mailprovider.tld'
    PASSWORD: 'YourTeslaPassword'
    VEHICLE_ID: 'YourVehicle.id_s'
    SINGLE_CLICK: 'OpenChargingPort&OpenTrunk,1000,FlashLights'
    DOUBLE_CLICK: 'UnlockDoors,1000,FlashLights'
    LONG_CLICK: 'AutoConditioningStart,HonkHorn'
dev:
  <<: *default_env
prod:
  <<: *default_env
