# Copy this file to env.yml and change values as necessary.
default_env: &default_env
  region: us-west-2
  iotevent:
    - iot:
        sql: "SELECT * FROM 'iotbutton/YOUR_DSN_HERE'"
  variables:
    USERNAME: 'YourTeslaLoginEmail@mailprovider.tld'
    PASSWORD: 'YourTeslaPassword'
    VEHICLE_ID: 'YourVehicle.id_s'
dev:
  <<: *default_env
prod:
  <<: *default_env